
// break points
// They use media queries to target landscape phones (576px), tablets (768px), laptops (992px) and extra large desktop screens (1200px).
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 991px;
$min-laptop: 992px;
$max-laptop: 1359px;
$min-desktop: 1360px;


.hide-laptop {
  @media (min-width: $min-laptop) and (max-width: $max-laptop) {
    display: none;
  }
}
.hide-desktop {
  @media (min-width: $min-desktop) {
    display: none;
  }
}
.hide-mobile {
  @media (max-width: $max-mobile) {
    display: none;
  }
}